[submodule "catkin_ws/src/detectron2"]
	path = catkin_ws/src/detectron2
	url = https://github.com/facebookresearch/detectron2.git
[submodule "catkin_ws/src/detectron2-ResNeSt"]
	path = catkin_ws/src/detectron2-ResNeSt
	url = https://github.com/chongruo/detectron2-ResNeSt.git
